*{
    margin: 0;
    padding: 0;
}
header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/s1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* navbar********************* */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;   
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color:coral;
    display: block;
    margin: auto;
    transform: 0.6s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/* texbox********************* */
.text-box{
    width: 90%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    background-color:rgb(70, 70, 221)
}
.text-box h1{
    font-size: 60px;
    color: red;
    font-weight: 600;
}
.text-box p{
margin: 10px 0 40px;
font-size: 25px;
color: black;    
}
.blog{
 justify-content: center;   
}
.blog .row{
    display: flex;
    flex-direction: row;
    margin: 100px;
}
.blog h3{
    color: wheat;
    background-color: orangered;
    font-size: 22px;
    justify-content: center;
}
.blog .row ul{
   width: 500px;
   margin: 20px;
   justify-content: space-between;
}
.blog .row ul li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
}
/* .blog .row img{
    width: 500px;
    height: 100%;
} */

.blog .row ul li strong{
    font-weight: normal;
    padding-left: 100px;
    /* justify-content: center; */ */
   /* align-items: ; */
}
.blog .text{
    margin: 50px;
}
.forms{
    margin: 100px;
}
.blog .input{
    display: flex;
    flex-direction: column;
    margin:50px ;
    border: 1px solid gray;
}
.input input{
    width: 80%;
    height: 40px;
    background-color: rgba(246, 251, 252, 0.904);
    border-radius: 5px;
    margin: 20px;
}

.input input:nth-child(3){
    height:80px ;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: beige;
}
.footer h4{
    margin-bottom: 25px;
    margin: 20px;
    font-weight: 600;
    width: 80%;
}
.icons .bi{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

